<a href="https://colab.research.google.com/github/sarvancs17/Bubblesort/blob/main/list_comprehentioin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Using list comprehension to iterate through loop
List = [character for character in [1, 2, 3]]

# Displaying list
print(List)

[1, 2, 3]

In [ ]:
List=[i for i in range(50) if i % 2 == 0]
print(List)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
matrix=[[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#Traditional approach
empty_list=[]
for chars in "viva usa inc":
  print(chars)
  empty_list.append(chars)
print(empty_list)

v
i
v
a

u
s
a

i
n
c
['v', 'i', 'v', 'a', ' ', 'u', 's', 'a', ' ', 'i', 'n', 'c']

In [ ]:
#using list comprehention
List=[chars for chars in "viva usa inc"]
print(List)

['v', 'i', 'v', 'a', ' ', 'u', 's', 'a', ' ', 'i', 'n', 'c']

In [ ]:
matrix=[[j for j in range(3)]  for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#print 10 Multiplied numbers

lists=[]
for i in range(1,10):
  lists.append(i*10)
print(lists)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
numbers=[i*10 for i in range(1,10)]
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
numbers = list(map( lambda i: i*10, [i for i in range(1,10)]))
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 90]